@use '../base/variable' as *;

.rating{
    &__icone{
        display: flex;
        flex-direction: column;
        background-color: $gradient;
        width: 2.5em;
        padding: 0.7em;
        border-radius: $radius*2;
        img{
            width: 1.2em;
        }
    }
    .title{
        color: $white;
        font-size: $font-size*2;
    }
}