@use '../base/variable' as *;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: $grey-950;
  font-family: $font-family;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}