//primaire
$orange: hsl(25, 97%, 53%);

//Neutre
$white: hsl(0, 100%, 100%);
$grey-500: hsl(217, 12%, 63%);
$grey-900: hsl(213, 19%, 18%);
$grey-950: hsl(216, 12%, 8%);

//Dégrader
$gradient: hsl(213, 19%, 22%);

//Typographie
$font-size: 1em;
$font-family: "Overpass", sans-serif;
$font-weight: 400;

//arrondi
$submit-radius : 1em;
$radius: 1em; 